[user]
	name = Josh Warfield
	email = josh@joinhandshake.com
[diff]
	tool = meld
[merge]
	tool = kdiff3
[difftool]
	prompt = false
[alias]
	d = difftool
	co = checkout
	dt = difftool
[push]
	default = simple
[core]
	excludesfile = /home/josh/.gitignore_global
[github]
	user = 12eh
