[diff]
	tool = kdiff3
[merge]
	tool = kdiff3
[difftool]
	prompt = false
[alias]
	d = difftool
	m = mergetool
	co = checkout
	s = status
[push]
	default = simple
[core]
	excludesfile = ~/.gitignore_global
[user]
	name = Josh Warfield
	email = josh@joinhandshake.com
