[diff]
  tool = kdiff3
[merge]
  tool = kdiff3
[difftool]
  prompt = false
[alias]
  d = difftool -d
  m = mergetool
  co = checkout
  s = status
  l = log --pretty=format:"%Cgreen%<|(15,trunc)%an%x20%Cblue%ad%x20%Creset%s" --date=short
[push]
  default = simple
[core]
  excludesfile = ~/.gitignore_global
[user]
  name = Josh Warfield
  email = josh@joinhandshake.com
[mergetool]
  keepBackup = false
  prompt = false
